<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (c) 2013 OpenPlans - www.openplans.org. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    
	<!-- GetMap callback -->
	<bean id="getMapCallback" class="org.geoserver.wms.dimension.viewparam.DimensionSQLViewParamRequestTransformer">
		<property name="transformTimeEnabled" value="true"/>
		<property name="transformElevationEnabled" value="true"/>
		<property name="timeZoneById" value="UTC"/>
		<property name="timeFormatPattern" value="yyyy-MM-dd'T'HH:mm:ss.SSSZZ" />
		<property name="elevationFormatPattern" value="%.3f" />
		<!--property name="layersToMatch">
			<list>
				<value>testLayer</value>
			</list>
		</property-->
		<!--property name="customDimensionsToTransform">
			<list>
				<value>testdim</value>
			</list>
		</property-->
	</bean>
	
</beans>